venv/

.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

src/neural_fdm.egg-info/

temp/

data/
data/backup/
data/cad/
data/figures/
data/trained/

figures/

scripts/_archive
scripts/*.png
scripts/*.ai
scripts/*.svg
scripts/*.indd
scripts/*.eqx

**/wandb/

**.gh
**.3dm
**.ipynb
