.DS_Store
.idea
*.log
tmp/

*.py[cod]
*.egg
build
htmlcov

src/neural_fofin.egg-info/

data/
data/backup/
data/cad/
data/figures/

figures/

scripts/_archive
scripts/*.png
scripts/*.ai
scripts/*.svg
scripts/*.indd

**/wandb/

**.gh
**.3dm
**.ipynb
